*{
    box-sizing: border-box;
}

body, ul, li, h1, h2, p{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}

body{
    background-color: #f8f9fa;
    font-family: sans-serif;
    color: #345;
}

a{
    color: #345;
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

.btn{
    display: block;
    padding: 10px 30px;
    background-color: #87f;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
    transition: all 0.3s;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
}

.btn:hover{
    background-color: #65d;
    transform: scale(1.1);
}

input, textarea{
    border-radius: 5px;
    border: 1px solid white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(30, 60, 90, 0.1);
    transition: all 0.3s;
    font-size: 1rem;
    font-family: sans-serif;
    margin-bottom: 15px;
}

label{
    margin-bottom: 5px;
}

input:focus, input:hover
textarea:focus, textarea:hover{
    outline: none;
    box-shadow: 0 6px 12px rgba(30, 60, 90, .2);
    border-color: #87f;
}

.v-enter,
.v-leave-to{
    opacity: 0;
}

.v-enter{
    transform: translate3d(0, -20px, 0);
}

.v-leave-to{
    transform: translate3d(0, 20px, 0);
}

.v-enter-active,
.v-leave-active{
    transition: all 0.3s;
}

